@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html, body {
    height: 100%;
    background-color: #222;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 8px;
}

* {
    font-family: "Segoe UI", Roboto, sans-serif;
    color: white;
    font-size: min(5vh, 5vw);
}

#cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    grid-template-rows: auto repeat(5, 1fr);
    height: 100%;
}

button {
    font-weight: 300 !important;
    border: none;
    background-color: #333;
    border-radius: 5px;
    outline: none;
}

button:hover {
    background-color: #2d2d2d;
}

#number-cont {
    grid-column: 1 / 4;

    font-weight: 500;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding-left: 2px;
    padding-right: 2px;
}
#number-cont > div:nth-child(even){
    text-align: center;
}
#number-cont > div:nth-child(odd){
    text-align: right;
}

#first-number {
    grid-column: 2;
}
#result, #equals-sign{
    color: #999;
}

#clear-btn:hover{
    background-color: #3b1f1f;
}
