@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

* {
    font-family: Quicksand, sans-serif;
}

#wallet {
    background-color: #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    margin: auto;
    padding: 16px;
    height: 244px;
    width: 462px;
    gap: 16px;
    box-sizing: border-box;
}

#wallet > * {
    height: 60px;
    width: auto;
    transition: .3s;
}

#wallet > *:hover {
    filter: brightness(130%);
}


table{
    margin: auto;
    border-collapse: collapse;
    min-width: 800px;
}
td, th {
    border: 2px solid #ccc;
    padding: 5px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
button{
    font-size: 1em;
    padding: 10px;
    border: none;
    background-color: #113694;
    color: white;
    font-weight: 500;

    display: block;
    margin: auto;
}
